.header {
    width: 1052px;
    margin-top: 92px; 
    margin-left: 24px;   
    margin-right: 24px; 
    display: flex;
    align-items: center; 
    margin-bottom: 96px;
    padding-left: 24px;
}

.header__menu {
   font-family: "Raleway", sans-serif;
   font-weight: 400;
   font-size: 18px; 
   width: 392px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    list-style: circle;    
}

.header__links-list-item {
    margin-left: 12px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
    margin-left: 36px;
}

.header__logo-image {
    padding: 2.79px 11.39px;
}

.address {    
    font-style: normal;
    line-height: 24px; 
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.header__address { 
    margin-left: 184px; 
    padding-right: 26px; 
} 

.cover {
    background: url(/images/cover.jpg) no-repeat center/cover;
    color: #fff;
    position: relative;
    z-index: 1;
}

.overlay {
    background-color: rgb(0, 0, 0); 
    opacity: 0.6;  
    position: absolute;
    inset: 0;
}

.cover__title {
    color: rgb(255, 255, 255);    
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 100px;
    padding: 165px 50px 165px 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;       
}

.aligned-text {
    display: block;
    text-align: left;      
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.aligned-text_center {
    display: block;
    text-align: center;          
}

.no-letter-spacing {
    letter-spacing: 0.3em;
}

.aligned-text_right {
    display: block;
    text-align: right;    
}

.letter-spacing-right {
    letter-spacing: 0.3em;
}

.cover__description {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-transform: uppercase;
    position: relative;
    z-index: 2;     
}

.cover__description-text {
    color: rgb(255, 255, 255); 
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 400;
    word-spacing: 15px;
    padding-bottom: 62px;
    line-height: 127%;
}

.bet-button {
    width: 256px;
    color: rgb(255, 255, 255);
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none; 
    border: 1px solid #fff;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lots {
    width: 1052px;
    margin: 179px 24px 146px;
    flex-wrap: wrap;
}

.lots__heading {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    text-transform: uppercase;
    padding: 0px 891px 27px 40px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    grid-column-gap: 25px;
}

.lots__card-list-item {
    display: flex;
    width: 334px;
    height: 563px;
    flex-grow: 1;  
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px 48px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.card_type_film {
    background: url(/images/card-lot-01.jpg) no-repeat center/cover;    
}

.card__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    text-align: left;
    position: relative;

}

.card__text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #fff;    
    align-items: flex-end;
    text-align: left;
    position: relative;
}

.card_type_book {
    background: url(/images/card-lot-02.jpg) no-repeat center/cover;    
}

.card_type_picture {
    background: url(/images/card-lot-03.jpg) no-repeat center/cover;    
}

.lots__look-more-link {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    text-decoration: underline;   
    padding-top: 30px;
    padding-left: 40px;
}

.about {
    width: 1052px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 146px;
    margin-bottom: 180px;
    margin-left: 24px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;  
    background-color: black; 
    border-radius: 50%;
    
}

.about__logo-image {
    width: 136px;
    height: 102px;     
}

.about__column {
    width: 693px;
    height: 449px;
    margin-top: 133px;
}

.about__title {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    width: 291px;
    height: 47px;
    margin-bottom: 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 5px;
    font-family: "Raleway", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.footer {
    width: 1000px;  
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
    margin-left: 50px;
    margin-right: 50px;
}

.footer__menu {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px; 
    width: 149px;
    height: 64px;
    text-align: center;
 }
 
 .footer__menu-list {
     display: flex;
     flex-direction: column;
     list-style: none;    
 } 

 .footer__social-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
 }

 .footer__social-list-item {
    list-style: none;
 }

 .footer__social-icon {
    width: 48px;
    height: 48px;
 }
 